@import url('reset.css');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900');
@import url('https://fonts.googleapis.com/css?family=Kanit:900');

input {
    opacity: 0; 
    z-index: 2; 
    display: block;
    width: 2vw;
    height: 2vh;
    position: absolute;
    margin-left: 7vw;
}

body {
    overflow-x: hidden;
   
}

h2 {
    font-size: 3em;
    font-family: 'Lato';
}

p {
    font-family: 'Lato';
    font-size: 1.5em;
}

footer p {
    font-family: 'Lato';
    font-size: 1.5em;
}

nav {
    float: right;
    margin-top: 2vw;
}


img {
    width: 70%;
    border-radius: 150em;
    margin: auto;
    display: block;
    margin-top: 1vw; 
}

section {
    text-align: left;
    font-family: 'lato';
    margin: 1vw 1vw 4vw 1vw;
    padding-bottom: 1vw;
    
}



.header-wrapper {
	margin: 0;
	clear: both;
	width: 100vw;
	height: 10vh;
	position: fixed;
	top: 0;	
    background-color: #ffffff;
    border-bottom-style:  solid;
	border-bottom-color:  #e5e9f3;
	border-bottom-width: 0.2vw;   
    
}

/* CSS grid for flexible positioning   */
.wrapper {
  display: grid;
  grid-template-columns: repeat(11, [col-start] 1fr);
}

.wrapper > * {
  grid-column: col-start / span 11;
}

/* Elements to build hamburger  */
.dropdown {
    margin-right: 5vw;
    display: block;
    position: relative;
   
}

.content {
    background-color: #f9f9f9;
    z-index: 1;
    position: absolute;
    margin-right: 10vw;
    display: inline-block;
    margin-left: 20vw;
    transition: 0.4s;
}

.content a {
    color: black;
    padding: 3vh 3vw 3vh 3vw;
    text-decoration: none;
    display: block;
    font-family: 'lato';
    font-size: 2em;
}

/* Hidden checkbox for hamburger functionality and animations */
.dropdown input:checked ~ .content {
    margin-left: 0; 
    transition-duration: 0.4s;
}
    
.dropdown span:first-child {
    transform-origin: 0% 0%;
}

.dropdown span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

.dropdown input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

.dropdown input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

.dropdown input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}


.hamburger {    
    display: block;
    width: 3vw;
    height: 0.4vh;
    margin-bottom: 1vh;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    margin-left: 0vw;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
    position: relative;
    margin-left: 7vw;
}

/* Selectors using Id's placed at bottom due to specificity */
#head {
    font-family: 'kanit';
    font-size: 4em;
    font-weight: 900;
}

#hero {
    margin-top: 10vh;
    background-image: url("../images/tocumwal-trove-4.jpg");
    height: 70vh; 
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#logo-sub {
    font-size: 1em;
    color: #707070;
    font-family: 'kanit';
}

#logo-block {
    display: inline-block;
    float: left;
}

#logo-one {
    color: #2694C2;
}

#logo-two {
    color: #707070;
}

#logo-three {
    color: #2694C2;
}

#heroText {
    font-size: 4em;
    text-align: center;
    letter-spacing: 0.2em;
    position: static;
    margin: 5vh 20vw 0 20vw;
    width: 60vw;
    height: 60vh; 
    color: #ffffff;
}

#navButtons {
    margin-bottom: 1vw;
    top: 0;
    float: right;
    padding-bottom: 1vw;
    display: none;
   
}

#navButtons li {
    width: 10vw;
    height: 1vw;
    display: inline-block;  
}

#navButtons li a {
    text-decoration: none;
    text-align: center;
    color: black;
    font-family: 'Lato';
    font-size: 1.5em;
    margin: 0vw 5vw 0vh 1vw; 
}

    #navButtons li a:hover {
        transition-duration: 0.4s;
        border-top: 0.1vw solid #070E1B;
        background-color: #93CAE1;
        color:  #ffffff;
        padding: 0.5vw 1vw 0vw 0.5vw;
        cursor: pointer;
       
    }

    #navButtons ul li a:visited {
        text-decoration: none;
    }


@media (min-device-width: 500px) {
    
    #heroText{
        font-size: 3em;
        margin: 5vh 20vw 0 20vw;
    }
    
    #head{
        font-size: 2.5em;
    }
    
     #logo-sub{
        font-size: 0.5em;
    } 
    } 

@media (min-device-width: 800px) {
    
    #heroText{
        font-size: 2.5em;
        margin: 5vh 20vw 0 20vw;
    }
    
    .dropdown{
        display: none;
    }
    
    #navButtons {
        display: block;
    }
    } 

@media (min-device-width: 1024px) {
    
    #heroText{
        font-size: 3em;
        margin: 10vh 20vw 0 20vw;
    }
    
   .col_1 {
    grid-column: col-start 1 / span 5;
    grid-row: 3;
    margin-left: 2vw;
  }
    
  .col_2 {
    grid-column: col-start 7 / span 11;
    grid-row: 3;
    margin-right: 2vw;
    }
    } 


 

 





   
